.home {
  height: calc(100vh - 50px);
  background-image: url(../../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: "Lobster", cursive;
    font-size: 4rem;
    color: burlywood;
  }
}
