.date {
  width: fit-content;
  border: 3px solid black;
  border-radius: 0.3rem;
  padding: 0 0.2rem;
  background-color: coral;
  color: white;
}

.text {
  border-bottom: 5px solid black;
}

.buttons {
  display: flex;
}
